body {
    background: grey;
    font-family: sans-serif;
    padding: 100px;
   
}

.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

button {
    border-radius: 30px;
    outline: none;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.btn-1 {
     background: rgb(3, 198, 156);
     color: white;
}
.btn-2 {
     background: rgb(255, 178, 11);
}
.btn-3 {
     background: rgb(156, 0, 208);
     color: white;
}
